* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeecec;
  font-family: 'helvetica', sans-serif;
}

.b-header {
  background-color: #bbb;
  padding: 20px 0;
}

nav {
  top: 110px;
  position: absolute;
  right: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
}

li a {
  text-transform: uppercase;
  font-size: 22px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: .2s;
}

li a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  transition: .2s;
}

.caixa {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.produtos {
  width: 940px;
  margin-inline: auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  text-align: center;
  padding: 30px 20px;
  box-sizing: border-box;
  margin: 0 1.5%;
  border: solid 2px #000;
  border-radius: 10px;
  transition: .2s;
  cursor: pointer;
}

.produtos li:hover {
  border-color: #c78c19;
  transform: scale(1.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .2s;
}

.produtos li:active {
  border-color: #19c719;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 18px;
  font-weight: bold;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

main {
  width: 940px;
  margin-inline: auto;
}

form {
  margin-block: 40px;
}

form label {
  display: block;
  font-size: 20px;
}

.input-padrao,
  form fieldset {
  display: block;
  width: 50%;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.enviar {
  padding: 15px 0;
  background-color: orange;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}

.enviar:hover {
  background-color: darkorange;
}

table {
  margin-block: 40px;
  border-collapse: collapse;
}

thead {
  background-color: #555555;
  color: #fff;
  font-weight: bold;
}

td, th {
  padding: 8px 15px;
  border: solid 1px #000;
}
.checkbox {
  margin-block: 15px;
  margin-right: 10px;
}

footer {
  padding-block: 40px;
  text-align: center;
  background: #000 url('/bg.jpg');
  color: #fff;
}

.copyright {
  font-size: 13px;
}

.c-title {
  text-align: center;
  margin-bottom: 30px;
}
